@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Futshop</h1>
    <p>Aqui podes comprar os melhores artigos desportivos do mercado</p>
    <p>
       
    </p>
</div>
