@{
    ViewData["Title"] = "Info";
}

<link rel="stylesheet" href="~/css/.styless.css" asp-append-version="true" />

<div class="card">
    <h1>@ViewData["Title"]</h1>
    <p>@DateTime.Now.Year Desenvolvimento Web</p>

    <p><strong>Nome do aluno:</strong> Joao Silva</p>
    <p><strong>Engenharia Informatica</strong></p>
    <p><strong>Naturalidade:</strong> Leiria</p>
    <p><strong>Email pessoal:</strong> jpsilva72011@gmail.com</p>
</div>
